%h1 Listing events

= form_tag events_url, :method =>'get' do
  %h2 Where:
  %ul
    %li{style:"list-style-type:none;"}
      = label_tag 'where_NYC', {title:'Anywhere in NYC'} do
        = radio_button_tag "where", 'NYC', (@where.downcase.include?('nyc') || @where.blank?)
        [NYC]
    %li{style:"list-style-type:none;"}
      = label_tag 'where_Manhattan' do
        = radio_button_tag "where", 'Manhattan', @where.downcase.include?('manhattan')
        Manhattan 
    %li{style:"list-style-type:none;"}
      = label_tag 'where_Bronx' do
        = radio_button_tag "where", 'Bronx', @where.downcase.include?('bronx')
        Bronx
    %li{style:"list-style-type:none;"}
      = label_tag 'where_Brooklyn' do
        = radio_button_tag "where", 'Brooklyn', @where.downcase.include?('brooklyn')
        Brooklyn
    %li{style:"list-style-type:none;"}
      = label_tag 'where_Queens' do
        = radio_button_tag "where", 'Queens', @where.downcase.include?('queens')
        Queens
    %li{style:"list-style-type:none;"}
      = label_tag 'where_Staten-Island' do
        = radio_button_tag "where", 'Staten-Island', @where.downcase.include?('staten-island')
        Staten-Island
  %h2 When:
  %ul
    %li{style:"list-style-type:none;"}
      = label_tag 'when_day_Any',  {title:"Any of these days: '#{(DateTime.now + 0).to_date}' or '#{(DateTime.now + 1).to_date}' or '#{(DateTime.now + 2).to_date}'"} do
        = radio_button_tag "when_day", 'Any', (@when_day.downcase.include?('any'.downcase) || @when_day.blank?)
        [Any Date]
    %li{style:"list-style-type:none;"}
      = label_tag 'when_day_Today', {title:"Today: (#{(DateTime.now).to_date})"} do
        = radio_button_tag "when_day", 'Today', @when_day.downcase.include?('Today'.downcase)
        Today
    %li{style:"list-style-type:none;"}
      = label_tag 'when_day_Tomorrow', {title:"Tomorrow: (#{(DateTime.now + 1).to_date})"} do
        = radio_button_tag "when_day", 'Tomorrow', @when_day.downcase.include?('Tomorrow'.downcase)
        Tomorrow
    %li{style:"list-style-type:none;"}
      = label_tag 'when_day_Beyond', {title:"Beyond Tomorrow: (#{(DateTime.now + 2).to_date})"} do
        = radio_button_tag "when_day", 'Beyond', @when_day.downcase.include?('Beyond'.downcase)
        Beyond Tomorrow

    %li{style:"list-style-type:none;"}
      = label_tag 'when_time_Any',  {title:"Any Time is okay."} do
        = radio_button_tag "when_time", 'Any', (@when_time.downcase.include?('Any'.downcase) || @when_time.blank?)
        [Any Time]
    %li{style:"list-style-type:none;"}
      = label_tag 'when_time_Early_Morning', {title:"Early-Morning: (4am to 8am EST)"} do
        = radio_button_tag "when_time", 'Early_Morning', @when_time.downcase.include?('Early-Morning'.downcase)
        Early-Morning
    %li{style:"list-style-type:none;"}
      = label_tag 'when_time_Morning', {title:"Morning: (8am to 12noon EST)"} do
        = radio_button_tag "when_time", 'Morning', @when_time.downcase.include?('Morning'.downcase)
        Morning
    %li{style:"list-style-type:none;"}
      = label_tag 'when_time_Afternoon', {title:"Afternoon: (12noon to 4pm EST)"} do
        = radio_button_tag "when_time", 'Afternoon', @when_time.downcase.include?('Afternoon'.downcase)
        Afternoon
    %li{style:"list-style-type:none;"}
      = label_tag 'when_time_Evening', {title:"Evening: (4pm to 8pm EST)"} do
        = radio_button_tag "when_time", 'Evening', @when_time.downcase.include?('Evening'.downcase)
        Evening
    %li{style:"list-style-type:none;"}
      = label_tag 'when_time_Night', {title:"Night: (8pm to 12midnight EST)"} do
        = radio_button_tag "when_time", 'Night', @when_time.downcase.include?('Night'.downcase)
        Night
    %li{style:"list-style-type:none;"}
      = label_tag 'when_time_Late_Night', {title:"Late-Night Tomorrow: (12midnight to 4am EST)"} do
        = radio_button_tag "when_time", 'Late_Night', @when_time.downcase.include?('Late-Night'.downcase)
        Late-Night
  %h2 Admission Categories:
  %ul
    %li{style:"list-style-type:none;"}
      = label_tag 'admission_Any',  {title:"Events with 'Any' type of Admission pricing."} do
        = radio_button_tag "admission", 'Any', (@admission.downcase.include?('any'.downcase) || @admission.blank?)
        [Any Pricing]
    %li{style:"list-style-type:none;"}
      = label_tag 'admission_General', {title:"Events with 'General Admission' pricing only"} do
        = radio_button_tag "admission", 'General', @admission.downcase.include?('General'.downcase)
        General
    %li{style:"list-style-type:none;"}
      = label_tag 'admission_Frugal', {title:"Events with 'under $10' Admission pricing only"} do
        = radio_button_tag "admission", 'Frugal', @admission.downcase.include?('Frugal'.downcase)
        Frugal
    %li{style:"list-style-type:none;"}
      = label_tag 'admission_Free', {title:"Events with 'Free' Admission only"} do
        = radio_button_tag "admission", 'Free', @admission.downcase.include?('Free'.downcase)
        Free
    %li{style:"list-style-type:none;"}
      = label_tag 'admission_Senior', {title:"Events with 'Senior' Admission only"} do
        = radio_button_tag "admission", 'Senior', @admission.downcase.include?('Senior'.downcase)
        Senior
    %li{style:"list-style-type:none;"}
      = label_tag 'admission_Student', {title:"Events with 'Student' Admission only"} do
        = radio_button_tag "admission", 'Student', @admission.downcase.include?('Student'.downcase)
        Student
    %li{style:"list-style-type:none;"}
      = label_tag 'admission_Tourist_Pass', {title:"Events with 'Tourist-Pass' Admission only"} do
        = radio_button_tag "admission", 'Tourist_Pass', @admission.downcase.include?('Tourist-Pass'.downcase)
        Tourist-Pass




  %h2 Categories:
  %ul
    %li{style:"list-style-type:none;"}
    %br
    - @select_categories.sort.each do |category, value|
      - if @selected_categories.present?
        %li{style:"list-style-type:none;"}
          = check_box_tag "selected_categories[#{category}]", value, true
          = category
      - else
        %li{style:"list-style-type:none;"}
          = check_box_tag "selected_categories[#{category}]", value
          = category

  - if @selected_categories.blank?
    = submit_tag "Select Categories", :name => "categories-submit"
  - else
    = submit_tag "Update Categories", :name => "categories-submit"
  -
  - if @events.present?  
    %h2 Category Events:
    %div 
      %table
        %tr
          %th Interest
          %th Title
          %th More Info
          %th
          %th
          %th

        - @events.each do |event|
          %tr
            -if (@itinerary_events.any? {|e| e[:event_id] == event.id})
              %td{style:"background-color:yellow", title:"Selected as an Itinerary Event"}
                = radio_button_tag "category_events_interest[#{event.id}]", 0, false, {disabled:"on"}
                = radio_button_tag "category_events_interest[#{event.id}]", 1, false, {disabled:"on"}
                = radio_button_tag "category_events_interest[#{event.id}]", 2, false, {disabled:"on"}
                = radio_button_tag "category_events_interest[#{event.id}]", 3, false, {disabled:"on"}
                = radio_button_tag "category_events_interest[#{event.id}]", 4, false, {disabled:"on"}
            -else
              %td
                = radio_button_tag "category_events_interest[#{event.id}]", 0, false, {title:"None"}
                = radio_button_tag "category_events_interest[#{event.id}]", 1, false, {title:"Low"}
                = radio_button_tag "category_events_interest[#{event.id}]", 2, false, {title:"Medium"}
                = radio_button_tag "category_events_interest[#{event.id}]", 3, false, {title:"High"}
                = radio_button_tag "category_events_interest[#{event.id}]", 4, false, {title:"Must Visit"}            
            %td= event.title
            %td= link_to "More Info", event.more_info_url
            %td= link_to 'Show', event
  - if @itinerary_events.present?
    %h2 Itinerary Events:
    %div 
      %table
        %tr
          %th Interest
          %th Title
          %th More Info
          %th
          %th
          %th

        - @itinerary_events.each do |itinerary_event|
          %tr
            %td
              = radio_button_tag "itinerary_events_interest[#{itinerary_event.event_id}]", 0, (itinerary_event.interest_level == 0), {title:"None"}
              = radio_button_tag "itinerary_events_interest[#{itinerary_event.event_id}]", 1, (itinerary_event.interest_level == 1), {title:"Low"}
              = radio_button_tag "itinerary_events_interest[#{itinerary_event.event_id}]", 2, (itinerary_event.interest_level == 2), {title:"Medium"}
              = radio_button_tag "itinerary_events_interest[#{itinerary_event.event_id}]", 3, (itinerary_event.interest_level == 3), {title:"High"}
              = radio_button_tag "itinerary_events_interest[#{itinerary_event.event_id}]", 4, (itinerary_event.interest_level == 4), {title:"Must Visit"}
            %td= itinerary_event.event.title
            %td= link_to "More Info", itinerary_event.event.more_info_url
            %td= link_to 'Show', itinerary_event.event
  %br

